/*################################ MAIN CONTENT ###############################*/

body {
width: 57.5em; /*920px!!!!!!!!*/
font: normal 100%/*16px*/ /1.5 "SF Arborcrest Light", Arial, sans-serif;
margin: 0 auto;
}

h1 {
font: bold 1.875em /*30px/16px*/ /0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 4px 3px 4px #111;
padding: 0 2.7173913043478%; /* 0 20px/920px*/
}

h2 {
font: bold 1.5em /*24px/16px*/ /0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 4px 3px 4px #111;
padding-left: 20px;
padding-top: 2.7173913043478%; /* 20px/920px */
}

h3 {
font: bold 1.3125em /*21px/16px*/ /0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 4px 3px 4px #111;
}

p {
text-indent: 2.717391304348%; /*25px/920px*/
padding: 0 20px;
} 


#carBG {     /* YELLOW CAR BACKGROUND IMAGE*/
width: 100%; /*920px*/
overflow: hidden;
background: url("../images/yellowCar.png") no-repeat fixed center top; 
margin: 0 auto; 
}


/*########################################## NAVIGATION ############################ */
nav {
padding-bottom: 40px;
}

#logo {
width:32.608695652174%; /*300px/920px*/
height: 3.75em; /*60px/16pt*/
background-image: url("../images/zoom-logo.gif");
float: left;
}

nav ul {
width:920px;
margin: 0 auto;
background: #000;
list-style-type: none;
padding: 0;
float: right;
}

nav ul li {
width: 150px;
background: #000;
float: right;
}

/*########################################### NAV LINKS #################################*/

nav ul a {
text-decoration: none;
background: #000;
display: block;
height: 60px;
line-height: 60px;
text-align: center;
color: #000;
}

a:link {
color: #ffea49;
}

a:visited {
color: #724c90;
}

a:hover {
color: #ffea49;
background: #fff;
}

a:active {
color: gray;
}


/*############################################## HOME PAGE ###############################*/

.ferrari_pic_main{
width:43.478260869565%; /*400px/920px*/
float: left;
margin: 0 2.7173913043478%; /* 0 20px/920px*/
border-width: 15px;        
border-style: solid;
border-color: #fff;
border-radius: 10px;
-moz-box-shadow: 5px 5px 7px #656564;
-ms-box-shadow: 5px 5px 7px #656564;
-o-box-shadow: 5px 5px 7px #656564;
-webkit-box-shadow: 5px 5px 7px #656564;
box-shadow: 5px 5px 7px #656564;
}

.home-intro p{
width: 45.652173913043%; /*420px;*/
}


.sign-up-button {
width: 200px;
height: 60px;
background: url("../images/sign-up-button.gif");
background-position: no-repeat;
margin: 0 auto;
}


/*########################################### ABOUT US ELEMENTS ###########################*/

.about-intro {            
-moz-column-count: 3;
-webkit-column-count: 3;
-o-column-count: 3;
-ms-column-count: 3;
-moz-column-gap: 10px;
-o-column-gap: 10px;
-ms-column-gap: 10px;
-webkit-column-gap: 10px;
padding: 0 20px;
}

.about h1 {
font: bold 1.875em/0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 4px 3px 4px #111;
padding: 20px 20px 0;
}

.about img {                 
border-width: 15px;        
border-style: solid;
border-color: #fff;
border-radius: 10px;
float:left;
margin: 0;
-moz-box-shadow: 5px 5px 7px #656564;
-ms-box-shadow: 5px 5px 7px #656564;
-o-box-shadow: 5px 5px 7px #656564;
-webkit-box-shadow: 5px 5px 7px #656564;
box-shadow: 5px 5px 7px #656564;
}

 /* ######################################### ABOUT US ARTICLE element #########################*/

.press-title {          
width: 600px;
background: RGBA(255, 255, 255, 0.6);
border-radius: 10px;
padding: 5px 20px;
margin: 0 auto;
}

.press-title h3 {
text-align: center;
}

.press-title p{
color: #119bcf;
}


  /* ####################################### ABOUT US ASIDE element ##########################*/

.news_links p{
text-align: center;
}

ol {
color: #fff;
width: 90px;
background: RGBA(255, 255, 255, 0.6);
border-radius: 10px;
padding: 5px 20px;
margin: 0 auto;
}

ol li {
width: 150px;
list-style-image: url("../images/tire.png");
color: #000;
margin: 0 20px;
}

ol a {
text-decoration: none;
}

a:link {
color: #000;
}

a:visited {
color: #724c90;
}

a:hover {
color: #ffea49;
background: #119bcf;
}

a:active {
color: gray;
}


  /* ####################################### ABOUT US ~FORM & BENEFITS ##########################*/

.form p{
width: 600px;
background: RGBA(255, 255, 255, 0.6);
border-radius: 10px;
padding: 5px 20px;
margin: 0 auto;
}

/* will add more content once we work on forms for week 3 */



/* ############################################## GALLERY PAGE ########################### */

.gallery-list h1 {
font: bold 1.875em /*30px/16px*/ /0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 4px 3px 4px #111;
padding: 2.7173913043478% 0 0 2.7173913043478%; /* 20px/920px */
}

.gallery-list ul {
width: 54.347826086957%; /*500px/920px*/
list-style-type: none;
float: left;
}

.gallery-list li {
width: 20.652173913043%; /*190px/920px*/
float: left;
margin-left: 1.630434782609%; /* 15px;/920px*/
}


.gallery-list img {
border-width: 15px;        
border-style: solid;
border-color: #fff;
border-radius: 10px;
-moz-box-shadow: 5px 5px 7px #656564;
-ms-box-shadow: 5px 5px 7px #656564;
-o-box-shadow: 5px 5px 7px #656564;
-webkit-box-shadow: 5px 5px 7px #656564;
box-shadow: 5px 5px 7px #656564;
}

.gallery-list p {
width:32.608695652174%; /*300px;*/
float: left;
margin: 0 auto;
}


/*################################################# FOOTER##############################*/

footer {
width: 57.5em; /* 920px */
height: 3.75em; /* 60px */
background: #000;
clear: both;
}

.copyright {
color: #ffea49;
text-align: center;
padding-top: 2.717391304348%; /* 25px*/
}