/*################################ MAIN CONTENT ###############################*/

body {
width: 920px;
font: normal 100%/1.5 "SF Arborcrest Light", Arial, sans-serif; /*100% = 16pt*/
max-width: 920px;
margin: 0 auto;
}

h1 {
font: bold 1.875em /*30px/16px*/ /0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 0.25em 0.1875em 0.25em #111; /*4px 3px 4px #111/16px */
/*padding: 0 2.7173913043478%; /* 0 20px/920px*/
}

h2 {
font: bold 1.5em /*24px/16px*/ /0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 0.25em 0.1875em 0.25em #111; /*4px 3px 4px #111/16px */
padding-left: 2.7173913043478%; /* 20px/920px*/
/*padding-top: 2.7173913043478%; /* 20px/920px */*/
}

h3 {
font: bold 1.3125em /*21px/16px*/ /0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 0.25em 0.1875em 0.25em #111; /*4px 3px 4px #111/16px */
}

p {
text-indent: 1.5625em; /*25px/16px*/
padding:0 2.173913043478%; /* 0 20px;/920px*/
} 


#carBG {     /* YELLOW CAR BACKGROUND IMAGE*/
width: 100%; /*920px*/
overflow: hidden;
background: url("../images/yellowCar.png") no-repeat fixed center top; 
margin: 0 auto; 
}

/*########################################## NAVIGATION ############################ */
nav {
height: 6.521739130435%; /* 60px/920px */
background: #000;
padding: 0;
}

#logo {
width: 51.086956521739%; /*470px/920px*/
height: 60px;
background-image: url("../images/zoom-logo.gif");
float: left;
}

nav ul {
background: #000;
margin: 0 auto;
padding: 0;
}

nav ul li {
width: 16.304347826087%; /*150px/920px*/
background: #000;
float: right;
list-style-type: none;
}


/* ######################################### NAVIGATION LINKS ################################# */

nav ul a {
text-decoration: none;
background: #000;
display: block;
height: 60px;
line-height: 60px;
text-align: center;
color: #000;
}

a:link {
color: #ffea49;
}

a:visited {
color: #724c90;
}

a:hover {
color: #ffea49;
background: #fff;
}

a:active {
color: gray;
}


/*############################################## HOME PAGE ###############################*/

.ferrari_pic_main{
width:43.478260869565%; /*400px/920px*/
float: left;
margin: 0 2.7173913043478%; /* 0 20px/920px*/
border-width: 15px;        
border-style: solid;
border-color: #fff;
border-radius: 10px;
-moz-box-shadow: 5px 5px 7px #656564;
-ms-box-shadow: 5px 5px 7px #656564;
-o-box-shadow: 5px 5px 7px #656564;
-webkit-box-shadow: 5px 5px 7px #656564;
box-shadow: 5px 5px 7px #656564;
}

.home-intro p{     /*??????????????*/
width: 45.652173913043%; /*420px;*/
}


.sign-up-button {
width: 200px;
height: 60px;
background: url("../images/sign-up-button.gif");
background-position: no-repeat;
margin: 0 auto;
}


/*########################################### ABOUT US ELEMENTS ###########################*/

.about-intro {            
-moz-column-count: 3;
-webkit-column-count: 3;
-o-column-count: 3;
-ms-column-count: 3;
-moz-column-gap: 0.625em; /*10px/16px*/
-o-column-gap: 0.625em; /*10px/16px*/
-ms-column-gap: 0.625em; /*10px/16px*/
-webkit-column-gap: 0.625em; /*10px/16px*/
padding: 0 2.173913043478%; /* 0 20px/920px */
}

.about h1 {
font: bold 1.875em/0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 0.25em 0.1875em 0.25em #111; /*4px 3px 4px #111/16px */
}

.about img {
opacity: 0.8;         /* ONLY opacity element */        
border-width: 15px;        
border-style: solid;
border-color: #fff;
border-radius: 10px;
float:left;
margin: 0;
-moz-box-shadow: 5px 5px 7px #656564;
-ms-box-shadow: 5px 5px 7px #656564;
-o-box-shadow: 5px 5px 7px #656564;
-webkit-box-shadow: 5px 5px 7px #656564;
box-shadow: 5px 5px 7px #656564;
}

 /* ######################################### ABOUT US ARTICLE element #########################*/

.press-title {          
width: 65.217391304348%; /*600px/920px*/
background: RGBA(255, 255, 255, 0.6);
border-radius: 10px;
padding: 0.833333333333% 3.333333333333%; /*5px 20px/600px*/
margin: 0 auto;
}

.press-title h3 {
text-align: center;
}

.press-title p{
color: #119bcf;
}


  /* ####################################### ABOUT US ASIDE element ##########################*/

.news_links p{
text-align: center;
}

ol {
color: #fff;
width: 9.782608695652%; /*90px/920 */
background: RGBA(255, 255, 255, 0.6);
border-radius: 10px;
padding: 5.555555555556%; /*5px/90 */
margin: 0 auto;
}

ol li {
width: 15px;
list-style-image: url("../images/tire.png");
color: #000;
margin: 0 auto;
}

ol a {
text-decoration: none;
}

a:link {
color: #000;
}

a:visited {
color: #724c90;
}

a:hover {
color: #ffea49;
background: #119bcf;
}

a:active {
color: gray;
}


  /* ####################################### ABOUT US ~FORM & BENEFITS ##########################*/

.form p{
width:65.217391304348%; /*600px/920px*/
background: RGBA(255, 255, 255, 0.6);
border-radius: 10px;
padding: 0.833333333333% 3.333333333333%; /*5px 20px/600px*/
margin: 0 auto;
}

/* will add more content once we work on forms for week 3 */



/* ############################################## GALLERY PAGE ########################### */

.gallery-list {
height: 500px; /*remove when you add more content to the page */
}

.gallery-list h1 {
font: bold 1.875em /*30px/16px*/ /0.5 "Nothing You Could Do", cursive, Arial, sans-serif;
font-weight: 400;
text-shadow: 0.25em 0.1875em 0.25em #111; /*4px 3px 4px #111/16px */
padding: 2.7173913043478% 0 0 2.7173913043478%; /* 20px/920px */
}

.gallery-list ul {
width: 59.782608695652%; /*550px/920px*/
list-style-type: none;
}

.gallery-list img {
border-width: 15px;        
border-style: solid;
border-color: #fff;
border-radius: 10px;
float: left;
margin-right: 1.086956521739%; /*10px/920px*/
margin-bottom: 1.086956521739%; /*10px/920px*/
-moz-box-shadow: 5px 5px 7px #656564;
-ms-box-shadow: 5px 5px 7px #656564;
-o-box-shadow: 5px 5px 7px #656564;
-webkit-box-shadow: 5px 5px 7px #656564;
box-shadow: 5px 5px 7px #656564;
}

.gallery-list p {
float: left;
}


/*################################################# FOOTER ##############################*/

footer {
width: 100%; /* 920px */
height: 60px;
background: #000;
clear: both;
}

.copyright {
color: #ffea49;
text-align: center;
padding-top: 2.717391304348%; /* 25px */
}
